<div class="row profile">
    <div class="left-menu col-md-2">
        <h4>My workspace</h4>
        <ul>
            <li>Stream</li>
            <li>Task</li>
            <li>Calender</li>
            <li>Files</li>
            <li>Photos</li>
            <li>Conversations</li>
        </ul>
        <h4>Workgroups</h4>
        <h4>Company</h4>
        <h4>Employess</h4>
        <h4>Services</h4>
        <h4>CRM</h4>
    </div>
    <div class="col-md-10">
        <h2>{{profile.nickname}}</h2>
        <div class="user_info">
            <div class="">
                some user links
            </div>
            <div class="prof_img">
                <img src="{{profile.picture}}" alt="" class="thumbnail avatar">
            </div>
            <div class="prof_info">
                <h4>User Information:</h4>
                <table>
                    <tr>
                        <td>E-Mail:</td>
                        <td>{{profile.email}}</td>
                    </tr>
                    <tr>
                        <td>Web Site:</td>
                        <td>www.none.com</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>+3434232333</td>
                    </tr>
                    <tr>
                        <td>Skype:</td>
                        <td>skypenick</td>
                    </tr>
                </table>

                <h4>General information</h4>
                <table>
                    <tr>
                        <td>Last Logged:</td>
                        <td>05/50/50 2004y</td>
                    </tr>
                    <tr>
                        <td>Position:</td>
                        <td>Master</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>Company</td>
                    </tr>
                    <tr>
                        <td>Supervisor:</td>
                        <td>morgan atkison</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>Amdmin</td>
                    </tr>
                </table>

                <h4>Addition Information</h4>
                <table>
                    <tr>
                        <td>Birthday</td>
                        <td>September 10</td>
                    </tr>
                    <tr>
                        <td>Groups</td>
                        <td>SOme grou, night warriors, gogi power, others, some body else, etc.., x-com</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>